# Dependencies
node_modules/

# Environment
.env

# Output PDFs
output/*.pdf
output/*.png
output/*.csv

# Stats & logs data
data/

# Logs
npm-debug.log*
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
